<div class="container">
  <div class="row">
    <div class="offset-3 col-9">

      <div class="devise-box mx-auto">

        <!--管理者ログインフォーム-->
        <h5 class="term-title ml-2 pb-3 font-weight-bold">管理者ログイン</h5>

        <%= form_with model: @admin, url: admin_session_path do |f| %>
          <div class="my-4">
            <%= f.email_field :email, placeholder: "Email", class: "form-control mx-auto", style: "width: 85%;" %>
          </div>
          <div class="my-4">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "form-control mx-auto", style: "width: 85%;" %>
          </div>
          <div class="text-center">
            <%= f.submit "ログイン", class: "btn btn-outline-success mt-1 mb-4", style: "width: 85%;" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>