<div class="container my-5">
  <div class="row">
    <div class="offset-1 col-11">

      <!--エラーメッセージ-->
      <%= render 'layouts/errors', obj: @today_word %>

      <h5 class="h4 ml-5 pt-4 font-weight-bold">今日の中国語登録</h5>

      <div class="mt-4 form-group">
        <%= form_with model: [:admin, @today_word], url: admin_today_words_path do |f| %>
          <!--新規単語登録フォーム-->
          <%= render 'form', f: f %>
          <!--新規単語登録ボタン-->
          <div class="text-center">
            <%= f.submit "単語を登録する", class: "mt-2 btn btn-primary btn-lg" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>