<div class="container">
  <div class="row">
    <div class="offset-lg-3 col-lg-9">
      
      <!--エラーメッセージ-->
      <%= render "layouts/errors", obj: @user %>

      <div class="devise-box mx-auto">

        <!--再送フォーム-->
        <h5 class="term-title ml-2 pb-3 font-weight-bold">パスワードの再設定</h5>

        <%= form_with model: @user, url: user_password_path do |f| %>
          <div class="my-4">
            <%= f.email_field :email, placeholder: "Email", class: "form-control mx-auto", style: "width: 85%;" %>
          </div>
          <div class="text-center">
            <%= f.submit "パスワード再設定用のリンクを送信", class: "btn btn-outline-info mt-1 mb-4", style: "width: 85%;" %>
          </div>
        <% end %>

      </div>

    </div>
  </div>
</div>
