body{
  font-family: 'RocknRoll One', sans-serif;
}

.custom-background {
  position: relative;
  background: linear-gradient(to bottom right, #8bc5ec, #f0aa8f);
}

.custom-background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
	background-size: 80px 80px;
	background-image:
	 linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
	  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
	 linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
	 linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
	  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
	  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);
}

.main{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.chinese-font{
  font-family: 'Noto Sans SC', sans-serif;
}

.content-box{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.admin-box{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 48vh;
}

.dynamic-text {
  font-size: 6vw;
}

.news{
  border-radius: 10px;
  background-color: white;
  height: 95%;
  .news-caption{
    font-weight: bold;
    color: black;
  }
}

.question{
  border-radius: 10px;
  width: 90%;
  background-color: white;
  .question-title{
    font-weight: bold;
    color: black;
  }
  hr {
    margin-bottom: 1rem;
    width: 95%;
  }
  a {
    text-decoration: none !important;
  }
  a:hover {
    color: #ff8c00;
  }
}

.word_card{
  .word-term{
    width: 16%;
  }
  .description{
  border-radius: 10px;
  width: 95%;
  background-color: white;
  }
}

.delete-underline {
  a {
    text-decoration: none !important;
  }
}