@media screen and (max-width:768px) {

  .navbar {
    background-color: #fccc4a;
    transition: top 0.8s ease; // スクロール時ヘッダーの連動速度
  }

  .nav-up {
    top: -100px;
  }

  .nav-down {
    top: 0;
  }

  .news{
    border-radius: 10px;
    width: 32vh;
    height: 35vh;
    background-color: white;
    .news-image{
      transform: scale(1.25);
    }
  }

  .devise-box{
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    margin-top: 180px;
  }

}