@media screen and (max-width:992px) {
  .navbar {
    background-color: #fccc4a;
    transition: top 0.8s ease; // スクロール時ヘッダーの連動速度
  }

  .nav-up {
    top: -100px;
  }

  .nav-down {
    top: 0;
  }

  .devise-box{
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    margin-top: 180px;
  }

  .dynamic-text {
    font-size: 10vw;
  }

  .word_card{
    .word-term{
      width: 10vh;
    }
    .description{
    border-radius: 10px;
    width: 95%;
    background-color: white;
    }
  }

  .responsive-btn {
    height: 50px !important;
  }

  .btn {
    font-size: 14px !important;
  }

  .responsive-text {
    font-size: 16px !important;
  }

  .responsive-text-sm {
    font-size: 14px !important;
  }

  .responsive-text-head{
    font-size: 36px !important;
  }
}

@media screen and (max-width:767px) {
  .responsive-text-lg {
    font-size: 18px !important;
  }

  .bg-image {
    height: 30vh;
  }
}

@media screen and (max-width:538px) {
  .responsive-content-box .content-box {
    padding: 20px 0;
  }
}