<!--ブックマークボタン-->
<% if current_user %>
  <% if question.bookmarked_by?(current_user) %>
    <%= link_to question_bookmark_path(question, question_id: question.id), method: :delete do %>
      <i class="fa-solid fa-bookmark" style="font-size: 20px; color: gray;"></i>
    <% end %>
  <% else %>
    <%= link_to question_bookmarks_path(question), method: :post do %>
      <i class="far fa-bookmark" style="font-size: 20px; color: gray;"></i>
    <% end %>
  <% end %>
<% else %>
  <!--ユーザーが未ログインの場合はログインページに遷移する-->
  <%= link_to new_user_session_path do %>
    <i class="far fa-bookmark" style="font-size: 20px; color: gray;"></i>
  <% end %>
<% end %>
<span class="ml-1" style="font-size: 16px;"><%= question.bookmarks.count %></span>