<div class="container">
  <div class="row">
    <div class="offset-lg-1 col-lg-11">

      <div class="devise-box mx-auto px-3 px-lg-0">

        <!--退会確認テキスト-->
        <div class="text-center">
          <p class="term-title font-weight-bold mb-5 pb-4">本当に退会しますか？</p>
          <p>退会すると、これまでの<br>活動記録が閲覧できなくなります。<br>
          この点にご了承の上、<br>「退会する」をクリックしてください。</p>
        </div>

        <!--退会選択ボタン-->
        <div class="d-flex justify-content-center mt-5 pb-4">
          <%= link_to "退会しない", user_path(@user), class: "btn btn-secondary px-4 mr-4" %>
          <%= link_to "退会する", "/users/#{@user.id}/quit", data: {confirm: "本当に退会しますか？"}, method: :patch, class: "btn btn-danger px-4" %>
        </div>

      </div>

    </div>
  </div>
</div>